h1 {
  text-align: center;
  border: 12px solid beige;
  margin: 10px;
  padding: 20px;
  background-color: #e2e2e2;
}
body {
  margin: 10;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #e2e2e2;
  border: 1px solid white;
}

.main_gallary_grid {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  justify-content: center;
  grid-column: span 2;
}
@media (max-width: 750px) {
  .main_gallary_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .main_gallary_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .main_gallary_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.container {
  width: 220px;
  height: 310px;
  position: relative;
  border: 1px solid beige;
  padding: auto;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  background-color: white;
}
.overlay {
  position: absolute;
  width: 220px;
  height: 310px;
  background: linear-gradient(
    105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%
  );
  filter: brightness(1.2) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100px;
  transition: all 0.1s;
}
.card1 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image1.jpg);
  background-size: cover;
}
.card2 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image2.jpg);
  background-size: cover;
}
.card3 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image3.jpg);
  background-size: cover;
}
.card4 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image4.jpg);
  background-size: cover;
}
.card5 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image5.jpg);
  background-size: cover;
}
.card6 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image6.jpg);
  background-size: cover;
}
.card7 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image7.jpg);
  background-size: cover;
}
.card8 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image8.jpg);
  background-size: cover;
}
.card9 {
  width: 220px;
  height: 310px;
  background-image: url(./image/image9.jpg);
  background-size: cover;
}
